.mb10 {
  margin-bottom: 10px;
}
.header {
  width: 100%;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  color: #fff;
  height: 40px;
  line-height: 40px;
  position: relative;
  padding: 0 40px;
  box-sizing: border-box;
  text-align: center;
  font-size: 36rpx;
  font-weight: 600;
}
.header .goBack {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  padding-left: 10px;
  font-family: Consolas;
  font-size: 46rpx;
}
.header .space {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
}
.selectAddress {
  background-color: #efeff4;
}
.selectAddress .addAddress {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  color: #3190e8;
  text-align: center;
  width: 100%;
}
.selectAddress .addAddress view {
  position: absolute;
  border: 1px solid #3190e8;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  top: 12px;
  left: 50%;
  margin-left: -60px;
  line-height: 15px;
  text-align: center;
  font-size: 32rpx;
}
