.clearfix::before,
.clearfix::after {
  height: 0;
  line-height: 0;
  content: "";
  clear: both;
  visibility: hidden;
  display: block;
}
.mb10 {
  margin-bottom: 10px;
}
.index .top {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(90deg, #0af, #0085ff);
}
.index .top .address {
  line-height: 26px;
  font-weight: 600;
  color: #fff;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 20px;
  box-sizing: border-box;
}
.index .top .search {
  height: 30px;
  width: 100%;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  z-index: 99;
  padding: 10px 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
}
.index .top .search .searcher {
  width: 80%;
  margin-left: 10%;
}
.index .top .search view {
  line-height: 30px;
  text-align: center;
  width: 100%;
  position: relative;
  background: #fff;
}
.index .top .search icon {
  position: absolute;
  left: 170rpx;
  top: 20%;
}
.index .top .classify {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
.index .top .classify scroll-view {
  width: 100%;
  height: 20px;
  display: inline-flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.index .top .classify scroll-view .type {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  color: #fff;
  margin-right: 10px;
}
.index .introduce {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.index .introduce swiper {
  width: 100%;
  height: 350rpx;
}
.index .introduce swiper .contain {
  width: 25%;
  display: inline-block;
  margin-bottom: 20rpx;
}
.index .introduce swiper .contain image {
  width: 100rpx;
  height: 100rpx;
  text-align: center;
  margin-left: calc((100% - 100rpx)/2);
}
.index .introduce swiper .contain .title {
  text-align: center;
  line-height: 20rpx;
}
.index .adverting {
  padding: 0 20rpx;
}
.index .adverting .alone {
  width: 100%;
  height: 100px;
}
.index .adverting .topper {
  width: 100%;
}
.index .adverting .topper view:first-child {
  margin-right: 10px;
}
.index .adverting .topper .a_top {
  width: calc((100% - 10px)/2);
  background: linear-gradient(0deg, #f4f4f4 5%, #fafafa 95%);
  position: relative;
  height: 200rpx;
  float: left;
}
.index .adverting .topper .a_top view:first-child {
  font-size: 32rpx;
  font-weight: 700;
  line-height: 54rpx;
}
.index .adverting .topper .a_top view:nth-child(2) {
  color: #777;
  font-size: 28rpx;
  line-height: 38rpx;
}
.index .adverting .topper .a_top view:nth-child(3) {
  font-weight: 600;
}
.index .adverting .topper .a_top image {
  width: 160rpx;
  height: 160rpx;
  position: absolute;
  right: 0;
  bottom: 0;
}
.index .adverting .bottom {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.index .adverting .bottom view:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}
.index .adverting .bottom .a_bottom {
  width: calc((100% - 20px)/3);
  position: relative;
  height: 230rpx;
  background: linear-gradient(0deg, #f4f4f4 5%, #fafafa 95%);
  float: left;
  text-align: center;
}
.index .adverting .bottom .a_bottom view:first-child {
  font-size: 36rpx;
  font-weight: 600;
  margin-bottom: 10px;
}
.index .adverting .bottom .a_bottom view:nth-child(2) {
  display: inline-block;
  border-radius: 3px;
}
.index .adverting .bottom .a_bottom image {
  width: 100%;
  height: 130rpx;
}
.index .space {
  width: 100%;
  background: #eee;
  height: 10px;
}
.index .in_shop {
  padding: 0 20px;
}
.index .in_shop .intro {
  height: 30px;
  line-height: 30px;
  font-weight: 600;
}
.index .in_shop .single {
  position: relative;
  margin-bottom: 20px;
}
.index .in_shop .single image {
  width: 90rpx;
  height: 90rpx;
  position: absolute;
  top: 0;
  left: 0;
}
.index .in_shop .single .content {
  width: 100%;
  padding-left: 100rpx;
  box-sizing: border-box;
}
.index .in_shop .single .content .title .title_left {
  float: left;
}
.index .in_shop .single .content .title .title_left .brand {
  background-image: linear-gradient(-139deg, #fff100, #ffe339);
  color: #6f3f15;
  border-radius: 2px;
  padding: 0 4px;
}
.index .in_shop .single .content .title .title_left .name {
  font-weight: 500;
  margin-left: 5px;
  display: inline-block;
  width: 250rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}
.index .in_shop .single .content .title .title_right {
  float: right;
}
.index .in_shop .single .content .title .title_right .sure {
  color: #999;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 20rpx;
  display: inline-block;
  padding: 0 3rpx;
}
.index .in_shop .single .content .title .title_right text:first-child {
  margin-right: 5px;
}
.index .in_shop .single .content .second {
  margin: 5px 0;
}
.index .in_shop .single .content .second .second_left {
  float: left;
}
.index .in_shop .single .content .second .second_left text {
  color: #666;
  font-size: 20rpx;
}
.index .in_shop .single .content .second .second_left .average {
  margin: 0 5px;
}
.index .in_shop .single .content .second .second_right {
  float: right;
  color: #fff;
  background-image: linear-gradient(45deg, #0085ff, #0af);
  font-size: 20rpx;
  padding: 0 3rpx;
  border-radius: 3px;
}
.index .in_shop .single .content .third {
  padding-bottom: 5px;
}
.index .in_shop .single .content .third view {
  font-size: 20rpx;
  color: #666;
  float: left;
}
.index .in_shop .single .content .third view:last-child {
  float: right;
}
.index .in_shop .single .content .forth {
  color: #e8470b;
  font-size: 20rpx;
  margin-bottom: 5px;
}
.index .in_shop .single .content .forth text {
  background: url("data:image/webp;base64,UklGRmoCAABXRUJQVlA4IF4CAACwDwCdASo8ADwAPpFAmkolo6IhqhM66LASCWwAx19t+T/kt7G1Ofun3621O3+cB4p/SM8wH7L+tj6PP8jvm+84L9EcKg2CgqGEct1zKu/PTf0RI1yDSMpUzp6TXRbSb2DiUN8tQafdAV7v8zUoRQJOqTyB6lz3GdlnpzgkXs3gbnv/vdJgAAD+9n3p2cpyoviswpq2biP/5ha4aHz4sOtHxo2Tf/1yX/J3Opx9Ca+e5RBZvtk8Ygk8OIIFXS8FLvYOu6Wkm8/wBVlkafk9uWfgUc0LoolBhz1gOqGzWjYRhJIYVnMthKir8oZeUJVybXUB/pyG/GZcH5j0TP7S40qShFGuNa+w72VyxsmsUoWTnXwhZmEtAkOkDoPbQ60sSLQM6zFF/QxPqO7kjfHV9OvlHH3R2PKSQNTYhMpM0rXhU1BIUAMHMjdf/KP6ARLEFuySMjfhDjlh5oa+8Enyzd3cfZwfWb7bAsRxgWfxNqy0/BFo0Jdu74hU03wF0bz8Wz9aZY9E1Pvm8dpQE3KekS3ffwk2mJ8PZvYPuwx9hJ7HW8OepW3+vobYkkGlVqHWe3/vlyYRLXUhSnn1cNaDtMzI9MsaY8boTMQGL4PofIHImH/zf8Cyu1bAnzc7ouZEHdtI02KV0VBdw7yrM42Cave6h2mJYyaYN3sU6ErHuc0/OTXoxvHlAosk4Ei3ZD9fHFiWD5M1xvAePpX0DNhjAIJXwuDjv1eWYYG0h31M1uPOM8oZ60sSuvkevzq315SZotMXkkInO5nIZp0wCv1BRc53cb/OPFSQI4iH7iWdQAA=");
  background-size: 100%;
  display: inline-block;
  width: 18rpx;
  height: 18rpx;
}
.index .in_shop .single .content .fifth {
  border-top: 1px dashed #ddd;
  overflow: hidden;
}
.index .in_shop .single .content .fifth .fifth_left {
  float: left;
}
.index .in_shop .single .content .fifth .fifth_left view:first-child {
  margin-top: 5px;
}
.index .in_shop .single .content .fifth .fifth_left .left_single {
  margin-bottom: 10rpx;
  font-size: 20rpx;
  line-height: 30rpx;
}
.index .in_shop .single .content .fifth .fifth_left .word {
  color: #fff;
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
}
.index .in_shop .single .content .fifth .fifth_right {
  margin-top: 5px;
  float: right;
}
.index .in_shop .single .content .fifth .fifth_right .arrow {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #868686;
  margin-right: 4px;
}
.index .loading {
  text-align: center;
  height: 50rpx;
  line-height: 50rpx;
  margin-bottom: 20px;
  color: #333;
  font-size: 26rpx;
}
