.makeMenu {
  padding-top: 10px;
  width: 100%;
  box-sizing: border-box;
}
.makeMenu .search {
  width: 100%;
  background-color: #fff;
  z-index: 13;
  padding: 0 10px;
  box-sizing: border-box;
  position: fixed;
  height: 30px;
  margin-top: -10px;
}
.makeMenu .search .left {
  position: absolute;
  width: 30px;
  text-align: left;
  height: 30px;
  line-height: 30px;
  top: 0;
  left: 10px;
  font-size: 30rpx;
  font-family: Consolas;
}
.makeMenu .search .input {
  width: 100%;
  padding-left: 30px;
  padding-right: 50px;
  box-sizing: border-box;
  position: relative;
}
.makeMenu .search .input input {
  width: 100%;
  color: #666;
  background-color: #f8f8f8;
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}
.makeMenu .search .input .icon {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAYAAADdGWXmAAAAAXNSR0IArs4c6QAAA7VJREFUSA21lltIk2EYx923eZiFzU6YdRMF0U1RGaVptOk6QkYUQkgXEZVEIN1oFkglIgWGoZfdFBSU0cGEQKckBRJ2kWUoiy5WqSW1wmyJh/V7Pr93rK0xp/OFh+f9nsP//77Pe/pMCVGay+Xa6Pf7CxGHyWRaQXgG/d/ofr57kcdWq7U5JyfnexSoBFOkgJaWllyArgCcHSlG2Yn7Q7/ObDbX2O32H8oeqsPIurq6Er1e73UCT0kwQF9QjZqmNdHvoz+YnJycOjIyshzbtsnJyQPYdzIowRrCdig/P7+Dflj7h6y9vX3+xMREE4k7APChq9PT02uzsrKkbBEbVdhAfK2RN4Y+7nQ6b4YmBMgIMLE+D9CFJH5mhIUOh+NVaEKkb/I08qvRZeSPk7+bfFdwvKY+2traKgyib9i2x0IkGBBMFhQUlKMvg2OhvPc6OjqWKXzROhnly8B5TjdoWhFJH4KDYumzXpXEN0OYPjo6ejE4VyeDqALjPEbVGDr14ODp9MHwWyyWUvQY8cco7SqVpzECDbIiMdC/pByz0Wz/9+TfRsxgH1ZYGmu1lY+liJsd9EY5ZquZ2X0Do1BhyazWywfONmWMh2Y3ths46xQeNi1TPijhJ2WMh6aUv8D5iaRyDhcIpmwQvYMWR1wb1dKvLiZkE2Ap41e9o2mybvFuOiYX9RQH6P3CQBlXxpNJzi6YVpkdL4JPsDVu6hcGyS6c5ngRUrE9BtZzhak5HA65yXshWswBdCrHbDV4RwSDmT1SWPoNwgLeMAxVBAUuZxUUq25tbbWDUyAlTEpKUudt6m6ErB7AjwRsIrA0VvDg+M7OzjRwGsQGWU1eXp5X+fWZcSbkpT2D04++yrnYpwJi0T09PUnDw8N3yFkLVjeTqAvO18nEwFUltZUb20zgQwhLxD7dxnOyZGBgoJX4vcgQGPuNSQQgwtYHkiq8540IF7u1jE0U8RF1u93JHo+nhNJdQBaR5yFnPzmvAyxGJ4xM7KybvAINRrKY3iJPKEsftkF0KjoTyUVki6dJELNp4QAX+3y+euzjPDVHmd24+KT9l0wcxn1WTvcEslBskRokL/FV8ug+lRhy3ajVDOoaj+lZsUmLSDblTkjgJrDwE5QHoIPRhv03YmtivT0qXjSVyUY9w5dISYso6V2xRyWToJk0CE9DVs8g5fbfwqzfzRmZDBDCWxAWQ9iXkpKyObD1ZzL6aDk2m+0kRN0QrmHT1M0pmfzcQnYQGUQyog0uLn42WQqzM/0FXTKWPLk7ay8AAAAASUVORK5CYII=");
  background-size: 100%;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 40px;
}
.makeMenu .search .input .delete {
  position: absolute;
  top: 0;
  width: 40px;
  height: 30px;
  right: 50px;
  text-align: center;
  line-height: 40px;
  color: #0085ff;
  font-size: 30rpx;
  z-index: 99;
}
.makeMenu .search .click {
  position: absolute;
  width: 50px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  top: 0;
  right: 0;
}
.makeMenu .hot {
  padding: 0 10px;
  box-sizing: border-box;
}
.makeMenu .hot .title {
  font-size: 30rpx;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
}
.makeMenu .hot .content .single {
  float: left;
  color: #666;
  background-color: #f7f7f7;
  padding: 5px;
  margin-right: 30rpx;
  margin-bottom: 30rpx;
  border-radius: 5rpx;
}
.makeMenu .history {
  padding: 0 10px;
  box-sizing: border-box;
}
.makeMenu .history .title {
  float: left;
  font-size: 30rpx;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
}
.makeMenu .history .empty {
  float: right;
  color: #04BE02;
  font-size: 26rpx;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.makeMenu .history .content .single {
  float: left;
  color: #666;
  background-color: #f7f7f7;
  padding: 5px;
  margin-left: 30rpx;
  margin-bottom: 30rpx;
  border-radius: 5rpx;
}
.makeMenu .select {
  width: 100%;
  box-sizing: border-box;
  z-index: 12;
  background-color: #fff;
}
.makeMenu .select .title {
  width: 100%;
}
.makeMenu .select .title view {
  float: left;
  width: 33.3333%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
}
.makeMenu .select .title view:last-child {
  border-right: none;
}
.makeMenu .select .title .selected {
  color: #3190e8;
}
.makeMenu .select .title .tran_selected {
  border-top: 7px solid #3190e8;
}
.makeMenu .select .title text {
  margin-left: 3px;
}
.makeMenu .select .content {
  width: 100%;
}
.makeMenu .select .content .classify_content {
  font-size: 28rpx;
  height: 400px;
  overflow: auto;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 11;
  border-top: 1px solid #ddd;
}
.makeMenu .select .content .classify_content .left {
  width: 40%;
  background-color: #fafafa;
  color: #666;
  float: left;
}
.makeMenu .select .content .classify_content .left .c_c view {
  float: left;
}
.makeMenu .select .content .classify_content .left .c_c view:first-child {
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}
.makeMenu .select .content .classify_content .left .c_c view:last-child {
  height: 20px;
  line-height: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: 15px;
  float: right;
  margin-right: 20px;
  padding: 1px 5px;
}
.makeMenu .select .content .classify_content .left .c_s {
  background-color: #fff;
}
.makeMenu .select .content .classify_content .left .s_s view:last-child {
  background-color: #fff;
}
.makeMenu .select .content .classify_content .right {
  width: 60%;
  float: right;
}
.makeMenu .select .content .classify_content .right .c_c view {
  height: 50px;
  line-height: 50px;
  font-size: 28rpx;
  color: #666;
}
.makeMenu .select .content .classify_content .right .c_c view:first-child {
  float: left;
  margin-left: 20px;
}
.makeMenu .select .content .classify_content .right .c_c view:last-child {
  float: right;
  margin-right: 20px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: 15px;
  padding: 1px 5px;
}
.makeMenu .select .content .rank_content {
  position: relative;
  z-index: 11;
  width: 100%;
  height: 200px;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-top: 1px solid #ddd;
}
.makeMenu .select .content .rank_content view {
  border-bottom: 1px solid #ddd;
  color: #333;
  height: 50px;
  line-height: 50px;
  width: 100%;
  padding-left: 10px;
}
.makeMenu .select .content .rank_content view:last-child {
  border: none;
}
.makeMenu .select .content .selection_content {
  background-color: #fafafa;
  position: relative;
  z-index: 11;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  width: 100%;
}
.makeMenu .select .content .selection_content .title {
  padding-left: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 28rpx;
  border: none;
}
.makeMenu .select .content .selection_content .content {
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.makeMenu .select .content .selection_content .content > view {
  float: left;
  width: calc(33.33% + 1px);
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
  margin-left: -1px;
  text-align: left;
  height: 35px;
  line-height: 35px;
  font-size: 28rpx;
}
.makeMenu .select .content .selection_content .content > view:first-child,
.makeMenu .select .content .selection_content .content > view:nth-child(2),
.makeMenu .select .content .selection_content .content > view:nth-child(3) {
  border-top: none;
}
.makeMenu .select .content .selection_content .content > view:nth-child(3n) {
  border-right: none;
}
.makeMenu .select .content .selection_content .thild .content > view,
.makeMenu .select .content .selection_content .forth .content > view {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.makeMenu .select .content .selection_content .thild .content > view text:first-child,
.makeMenu .select .content .selection_content .forth .content > view text:first-child {
  border-radius: 2px;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  width: 16px;
  text-align: center;
  margin-right: 4px;
}
.makeMenu .select .content .selection_content .fifth {
  padding: 0 10px;
  margin-top: 10px;
}
.makeMenu .select .content .selection_content .fifth button {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  width: calc((100% - 20px)/2);
}
.makeMenu .select .content .selection_content .fifth button:first-child {
  margin-right: 20px;
  color: #333;
  border: 1px solid #ddd;
}
.makeMenu .select .content .selection_content .fifth button:last-child {
  background-color: #56d176;
  border: 1px solid #56d176;
  border-radius: 5px;
  color: #fff;
}
.makeMenu .select .content .selection_content .choosed {
  color: #3190e8;
  background-color: #edf5ff;
}
.makeMenu .filtrate {
  width: 100%;
  padding: 0 10px;
  padding-top: 70px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  background-color: #fff;
  z-index: 11;
}
.makeMenu .filtrate scroll-view {
  width: 100%;
  height: 25px;
  display: inline-flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.makeMenu .filtrate .single {
  display: inline-block;
  background-color: #f5f5f5;
  color: #666;
  padding: 0 5px;
  height: 25px;
  line-height: 25px;
  margin-right: 8px;
}
.makeMenu .food_intro {
  background-color: #f5f5f5;
  font-size: 24rpx;
  color: #666;
}
.makeMenu .food_intro .single {
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: #fff;
  padding-top: 10px;
}
.makeMenu .food_intro .single .shop_detail {
  position: relative;
  border-bottom: 1px solid rgba(227, 227, 227, 0.5);
  padding-bottom: 10px;
}
.makeMenu .food_intro .single .shop_detail image {
  float: left;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
}
.makeMenu .food_intro .single .shop_detail > view {
  float: right;
  padding-left: 52px;
  width: 100%;
  box-sizing: border-box;
}
.makeMenu .food_intro .single .shop_detail > view .top {
  color: #333;
  font-size: 34rpx;
}
.makeMenu .food_intro .single .shop_detail > view .bottom view:first-child {
  float: left;
}
.makeMenu .food_intro .single .shop_detail > view .bottom view:last-child {
  float: right;
  margin-right: 10px;
}
.makeMenu .food_intro .single .food_detail {
  width: 100%;
  border-bottom: 1px solid rgba(227, 227, 227, 0.5);
  box-sizing: border-box;
  overflow: hidden;
}
.makeMenu .food_intro .single .food_detail .contents {
  padding: 10px 0;
  position: relative;
  width: 100%;
}
.makeMenu .food_intro .single .food_detail image {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
}
.makeMenu .food_intro .single .food_detail .content {
  width: 100%;
  padding-left: 70px;
  box-sizing: border-box;
}
.makeMenu .food_intro .single .food_detail .content view:first-child {
  font-size: 34rpx;
  color: #333;
}
.makeMenu .food_intro .single .food_detail .content view:nth-child(2) {
  color: #666;
  height: 26px;
  line-height: 26px;
}
.makeMenu .food_intro .single .food_detail .content view:last-child {
  color: #ff5339;
  font-size: 28rpx;
}
.makeMenu .food_intro .single .more {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.makeMenu .food_intro .single .more text {
  margin-left: 5px;
}
