.mb10 {
  margin-bottom: 10px;
}
.in_shop {
  padding: 0 20px;
}
.in_shop .intro {
  height: 30px;
  line-height: 30px;
  font-weight: 600;
}
.in_shop .single {
  position: relative;
  margin-bottom: 20px;
}
.in_shop .single image {
  width: 90rpx;
  height: 90rpx;
  position: absolute;
  top: 0;
  left: 0;
}
.in_shop .single .content {
  width: 100%;
  padding-left: 100rpx;
  box-sizing: border-box;
}
.in_shop .single .content .title .title_left {
  float: left;
}
.in_shop .single .content .title .title_left .brand {
  background-image: linear-gradient(-139deg, #fff100, #ffe339);
  color: #6f3f15;
  border-radius: 2px;
  padding: 0 4px;
}
.in_shop .single .content .title .title_left .name {
  font-weight: 500;
  margin-left: 5px;
  display: inline-block;
  width: 250rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}
.in_shop .single .content .title .title_right {
  float: right;
}
.in_shop .single .content .title .title_right .sure {
  color: #999;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 20rpx;
  display: inline-block;
  padding: 0 3rpx;
}
.in_shop .single .content .title .title_right text:first-child {
  margin-right: 5px;
}
.in_shop .single .content .second {
  margin: 5px 0;
}
.in_shop .single .content .second .second_left {
  float: left;
}
.in_shop .single .content .second .second_left text {
  color: #666;
  font-size: 20rpx;
}
.in_shop .single .content .second .second_left .average {
  margin: 0 5px;
}
.in_shop .single .content .second .second_right {
  float: right;
  color: #fff;
  background-image: linear-gradient(45deg, #0085ff, #0af);
  font-size: 20rpx;
  padding: 0 3rpx;
  border-radius: 3px;
}
.in_shop .single .content .third {
  padding-bottom: 5px;
}
.in_shop .single .content .third view {
  font-size: 20rpx;
  color: #666;
  float: left;
}
.in_shop .single .content .third view:last-child {
  float: right;
}
.in_shop .single .content .forth {
  color: #e8470b;
  font-size: 20rpx;
  margin-bottom: 5px;
}
.in_shop .single .content .forth text {
  background: url("data:image/webp;base64,UklGRmoCAABXRUJQVlA4IF4CAACwDwCdASo8ADwAPpFAmkolo6IhqhM66LASCWwAx19t+T/kt7G1Ofun3621O3+cB4p/SM8wH7L+tj6PP8jvm+84L9EcKg2CgqGEct1zKu/PTf0RI1yDSMpUzp6TXRbSb2DiUN8tQafdAV7v8zUoRQJOqTyB6lz3GdlnpzgkXs3gbnv/vdJgAAD+9n3p2cpyoviswpq2biP/5ha4aHz4sOtHxo2Tf/1yX/J3Opx9Ca+e5RBZvtk8Ygk8OIIFXS8FLvYOu6Wkm8/wBVlkafk9uWfgUc0LoolBhz1gOqGzWjYRhJIYVnMthKir8oZeUJVybXUB/pyG/GZcH5j0TP7S40qShFGuNa+w72VyxsmsUoWTnXwhZmEtAkOkDoPbQ60sSLQM6zFF/QxPqO7kjfHV9OvlHH3R2PKSQNTYhMpM0rXhU1BIUAMHMjdf/KP6ARLEFuySMjfhDjlh5oa+8Enyzd3cfZwfWb7bAsRxgWfxNqy0/BFo0Jdu74hU03wF0bz8Wz9aZY9E1Pvm8dpQE3KekS3ffwk2mJ8PZvYPuwx9hJ7HW8OepW3+vobYkkGlVqHWe3/vlyYRLXUhSnn1cNaDtMzI9MsaY8boTMQGL4PofIHImH/zf8Cyu1bAnzc7ouZEHdtI02KV0VBdw7yrM42Cave6h2mJYyaYN3sU6ErHuc0/OTXoxvHlAosk4Ei3ZD9fHFiWD5M1xvAePpX0DNhjAIJXwuDjv1eWYYG0h31M1uPOM8oZ60sSuvkevzq315SZotMXkkInO5nIZp0wCv1BRc53cb/OPFSQI4iH7iWdQAA=");
  background-size: 100%;
  display: inline-block;
  width: 18rpx;
  height: 18rpx;
}
.in_shop .single .content .fifth {
  border-top: 1px dashed #ddd;
  overflow: hidden;
}
.in_shop .single .content .fifth .fifth_left {
  float: left;
}
.in_shop .single .content .fifth .fifth_left view:first-child {
  margin-top: 5px;
}
.in_shop .single .content .fifth .fifth_left .left_single {
  margin-bottom: 10rpx;
  font-size: 20rpx;
  line-height: 30rpx;
}
.in_shop .single .content .fifth .fifth_left .word {
  color: #fff;
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
}
.in_shop .single .content .fifth .fifth_right {
  margin-top: 5px;
  float: right;
}
.in_shop .single .content .fifth .fifth_right .arrow {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #868686;
  margin-right: 4px;
}
