.header {
  width: 100%;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  color: #fff;
  height: 40px;
  line-height: 40px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  font-size: 36rpx;
  font-weight: 600;
}
.header .goBack {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  padding-left: 10px;
  font-family: Consolas;
  font-size: 46rpx;
}
.header .space {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
}
.mb10 {
  margin-bottom: 10px;
}
.tips {
  position: fixed;
  left: 50%;
  top: 30%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.me {
  background-color: #f5f5f5;
}
.me .login {
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 20px;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  position: relative;
}
.me .login image {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  height: 100rpx;
  width: 100rpx;
}
.me .login .middle {
  width: 100%;
  padding-left: 130rpx;
  color: #fff;
}
.me .login .middle view:first-child {
  font-size: 40rpx;
  font-weight: 600;
}
.me .login .middle view:last-child {
  font-size: 24rpx;
}
.me .login .right {
  position: absolute;
  font-family: Consolas;
  right: 10px;
  top: 10px;
  font-size: 50rpx;
  color: #fff;
  line-height: 46px;
}
.me .two {
  display: inline-flex;
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
}
.me .two > view {
  width: 50%;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
}
.me .two > view .pic {
  border-radius: 50%;
  height: 50rpx;
  width: 50rpx;
  margin-left: calc((100% - 50rpx)/2);
}
.me .two > view .word {
  color: #666;
  font-weight: 700;
  margin-top: 10px;
}
.me .two > view:first-child .pic {
  background-color: #ff5f3e;
}
.me .two > view:last-child .pic {
  background-color: #6ac20b;
}
.me .con,
.me .address,
.me .money {
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
}
.me .con > view,
.me .address > view,
.me .money > view {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}
.me .con .left,
.me .address .left,
.me .money .left {
  float: left;
  color: #333;
  font-size: 30rpx;
}
.me .con .right,
.me .address .right,
.me .money .right {
  float: right;
  color: #bbb;
  font-size: 30rpx;
  font-family: Consolas;
}
